body{
    margin:0;
    padding:0;
    
}
.header{
        background-color: rgb(55, 61, 61);
        display: flex;
        align-items: center;
        justify-content: space-around;
}
.title{
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
}
.title2{
    font-family: 'Open Sans', sans-serif;
    color: rgb(26, 154, 228);
    display: flex flex;
}

.A1nav{
    color: rgb(26, 154, 228);
    font-family: 'Open Sans', sans-serif;
    
    
}

ul{
    display: flex;
    width: 100%;
    gap: 20px;
}
ul li{
    display:flex ;
    list-style: none;

}

a{
    display: flex;
    text-decoration: none;
    color:#ffff;
    font-family: 'Open Sans', sans-serif;
}



.inicio-servicios{
    color: #fff;
}
.nosotros-servicios{
    color: #fff;
}
.servicios-servicios{
    color: #1293D4;
}
.contacto-servicios{
    color: #fff;
}

/* NOSOTROS:  */
.inicio-nosotros{
    color: #fff;
}
.nosotros-nosotros{
    color: #1293D4;
}
.servicios-nosotros{
    color: #fff;
}
.contacto-nosotros{
    color: #fff;
}

/* CONTACTO:  */
.inicio-contacto{
    color: #fff;
}
.nosotros-contacto{
    color: #fff;
}
.servicios-contacto{
    color: #fff;
}
.contacto-contacto{
    color: #1293D4;
}